* {
    margin: 0%;
    padding: 0%;
} 
body {
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    background-color: #051933;
    background: linear-gradient(to bottom, #171c2c, #000000);
    height: 18vh;
    justify-content: center;
    align-items: center;
}
main{
    display:flex;
    background-color: #0B4081;
    background: linear-gradient(to bottom, #051933, #07264b);
    height: 82vh;
}
h1{
    color: cornsilk;
    font-size: 40px;
}
button{
    background-color: #63C2EE;
    border: 10px;
    border-color: black;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    box-shadow: 0px 2px 4px #000000;
    font-size: 40px;
    color: cornsilk;
    background: linear-gradient(to bottom, #171c2c, #000000);
    border-radius: 20px;
    height: 80px;
    width: 400px;
    margin: 450px 250px;
    opacity: 0.9;
    position: relative;
}
div#nome{
    display:flex;
    justify-content: flex-start;
}
h2#name{
    color: cornsilk;
    font-size: 40px;
    margin: 250px 300px 500px -617px
}
div#container-status{
    display:flex;
    justify-content: flex-start;
}
h2#status{
    color: cornsilk;
    font-size: 40px;
    margin: 350px 300px 500px -570px
}
div#container-image{
    display:flex;
    justify-content: flex-start;
}
img#chico{
    height: 550px;
}